.header_logo{
    margin-left: auto;
    font-size: x-large;
    font-family:"diplomata", impact, sans-serif;
}
.noticias_contenido_h1{
    font-family: "ind siligur", Arial, sans-serif;
}
.noticias_contenido_p{
        font-family:"ind siligur", Arial, sans-serif;
}
.nav_item{
    color:#170608;
    font-weight: bold;
    display:inline;
    font-size: medium;
}