body{
    background-color: #F7F7F5;
    font-family: "ind Siligur", "Arial", "sans-serif";
    margin: 60px;
    margin-top: 20px;
}
// typografía logo Diplomata, texto ind siliguri 300
.logo { 
    font-family: "diplomata", "impact";
    font-size: x-large;
   }
main
   h1{
    font-family: "ind Siligur", "Arial", "sans-serif";
    margin-top: 10px;
    
}
p{
    font-family: "ind Siligur", "Arial", "sans-serif";
    text-align: justify;
}
li{
    display: inline;
    float: left;
}